# Dependencies
node_modules
.pnpm-store

# Next.js build outputs
.next/
out/
build/
dist/
*.tsbuildinfo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*.local
.env
!.env.example
!.env.local.example

# OS / Editor files
.DS_Store
*.pem
.vscode/
.idea/

# Supabase local temp
.supabase/
supabase/.temp/

.vercel
